.cards_app_bar {
  padding-bottom: 10px;
}

.cards_app_bar .title {
  flex: 1
}

.theme_switcher {}

.theme_switcher_night_mode {
  transform: rotateZ(150deg);
}

.theme_switcher_glyph {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
