.info_panel_details {
  display: flex;
  flex-direction: column;
}

.info_panel>div:nth-child(1){
  justify-content: space-between;
}

.info_panel_title{
  line-height: 48px !important;
}

.info_provider_switcher{
}
