.info_table_container{
  display: grid !important;
  grid-template: 1fr/1fr 1fr;
}
.info_table_row {}
.info_table {}
.info_table_body {
}

.info_cell_highlight{
  color: green;
}

.info_table_row_item {
  padding-left: 0px !important;
}

.info_table_row_item_link {}
